@model ReviewsSite.Models.Album
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Album List</h1>
    <h2>Name: @Model.Name</h2>
    <p>Description: @Model.Description.</p>
</body>
</html>
