

@model ReviewsSite.Models.Review
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/styles/AlbumStyles/UpdateStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Germania+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul class="nav_links">
                <li><a href="/Album/Index">HOME</a></li>
                <li><strong>|</strong></li>
                <li><a href="/Review/Create/">ADD REVIEW</a></li>
              
            </ul>
        </nav>
    </header>

    <h2>REVIEWS</h2>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <input type="hidden" asp-for="Id" />
                <div class="text-success">@ViewBag.Result</div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ReviewerName" class="control-label"></label>
                    <input asp-for="ReviewerName" class="form-control" />
                    <span asp-validation-for="ReviewerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <select asp-for="Rating" class="form-control" asp-items="ViewBag.Ratings"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AlbumId" class="control-label"></label>
                    <select asp-for="AlbumId" class="form-control" asp-items="ViewBag.Albums"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <a href="/Album/Detail/@Model.AlbumId">click to view your review</a>

</body>
</html>


@{
}
