* {
    font-family: 'Roboto', sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

body {



}







nav {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    text-align: center;
    top: 0;
    padding: 0 1%;
    position: fixed;
    height: 30px;
    width: 100%;
    background: rgb(34, 34, 34);
}

.nav_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 0em;
    align-content: space-between;
}

.nav_links a {
    letter-spacing: .25em;
}

.nav_links li {
    padding: 0px 5px;
}

.nav_links li a {
    text-decoration: none;
    color: rgb(224, 87, 23);
    border-radius: 5px;
    font-size: large;
    font-weight: lighter;
    /* box-shadow: 0 0 12px rgb(182, 182, 182); */
    padding: .075em;
}

.nav_links li a:hover {
    color: white;
    border-radius: 9px;
    background: rgb(224, 87, 23);
    font-weight: lighter;
    box-shadow: 0 0 5px rgb(182, 182, 182);
    padding: .075em;
}



background {




}

header {



}

p {



}
.container {




}
img {




}
.songList{





}

.ReviewContainer {



}

ul{



}

h1 h3 {




}

